@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primery-clr: #dde6ed;
  --sec-clr: #19283C;
  --anc-clr: #192638;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primery-clr: #192638;
    --sec-clr: #19283C;
    --anc-clr: #dde6ed;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--anc-clr);
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--anc-clr);
}

body {
  color: rgb(var(--anc-clr));
  background: var(--primery-clr);
}
